/* You can add global styles to this file, and also import other style files */
body{
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 .todoPage{
     position: relative;
     display: block;
     width: 100%;
     height: 50%;
 }
