.tabs-container {
  width: 100%;
  height: 100%;
}
.new-tab-add-container {
  position: relative;
  height: 10%;
  width: 100%;
}
.wrapper {
  width: 18%;
  position: absolute;
  right: 0;
  button {
    margin-left: 40px;
  }
}
.tabsNameInput {
  border: 0;
  font-size: 1em;
  outline: none;
  text-align: center;
  background: transparent;
}

.input-container { 
    .delete-icn {
        position: relative;
        top: 0;
        right: 2px;
    }
    .delete-icn:hover {
      color: red;
    }
}

::ng-deep .mat-tab-label
{
  height: 27px !important;
  min-height: 5px!important;
  margin: 3px!important;
  width: 220px!important;
  min-width: 5px!important;
}
