<div class="todoPage">
  <div class="todo">
    <div class="wrapper">
      <div class="inputForm">
        <form #todoForm="ngForm" novalidate (ngSubmit)="onSubmit()">
          <mat-form-field class="example-full-width">
            <mat-label>Note something</mat-label>
            <input
              matInput
              placeholder="Ex. drink some beer"
              value="Sushi"
              class="todoInput"
              name="todoText"
              [formControl]="todoControl"
              spellcheck="false"
            />
          </mat-form-field>
          <button mat-raised-button color="accent">
            Create
          </button>
        </form>
      </div>
    </div>
    <div>
      <div class="list" cdkDropListGroup>
        <div class="container">
          <!--
          Drag and drop list with todos
        -->
          <h2>To do</h2>
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todos"
            class="list"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="list-item"
              *ngFor="let todo of todos"
              cdkDrag
              (click)="onSelect(todo)"
              [class.selected]="todo === selectedTodo"
            >
              {{ todo.text }}
              <div *ngIf="selectedTodo === todo" class="details">
                <section>
                  <h2>Details</h2>
                  <div class="close" (click)="delete(selectedTodo)">
                    <div class="leftLine"></div>
                    <div class="rightLine"></div>
                  </div>
                  <div>
                    <label>
                      <mat-form-field class="example-full-width">
                        <mat-label>Edit your todo</mat-label>
                        <input
                          matInput
                          placeholder="text"
                          [(ngModel)]="selectedTodo.text"
                          autofocus
                          spellcheck="false"
                        />
                      </mat-form-field>
                    </label>
                  </div>
                  <div>Date:{{ selectedTodo.date | date: "medium" }}</div>
                  <label
                    >Set deadline:
                    <input
                      type="datetime-local"
                      [(ngModel)]="selectedTodo.deadline"
                      name="deadline"
                    />
                    <div></div>
                  </label>
                </section>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <h2>In Progress</h2>
          <div
            cdkDropList
            #inProgressList="cdkDropList"
            [cdkDropListData]="inProgress"
            class="list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="list-item" *ngFor="let item of inProgress" cdkDrag>
              {{ item.text }}
            </div>
          </div>
        </div>

        <div class="container">
          <h2>Done</h2>
          <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            class="list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="list-item" *ngFor="let item of done" cdkDrag>
              {{ item.text }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
