.todo{
    position: relative;
    display: block;
    width: 100%;
}
.wrapper{
  position: relative;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}
.inputForm{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding-right: 0;
  min-width: 500px;
  width: 30%;
}
.inputForm mat-form-field{
  width: 75%;
}
button{
  margin-left: 10px;
  margin-right: 0px;
}

.container {
    width: 400px;
    max-width: 100%;
    margin: 0 20px;
    display: inline-block;
    vertical-align: top;
  }
  
  .list {
    // border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    display: block;
    overflow: hidden;
    margin-top: 20px;
    padding: 0;
  }
  .list h2, .list{
    padding-left:17%;
  }
  
  .list-item {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    box-sizing: border-box;
    cursor: move;
    background: white;
    color: black;
    font-size: 14px;
  }
  
  .selected{
    animation: color-change 5s linear;
  }

  .list-item:last-child {
    border: none;
  }
  
  /* Highlight the list item that is being dragged. */
  .cdk-drag-preview {
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  /* Animate items as they're being sorted. */
  .cdk-drop-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  /* Animate an item that has been dropped. */
  .cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .details{
    text-align: center;
  }
  .details h2{
    padding: 0;
  }
  .close{
    width: 20px;
    height: 20px;
    position: relative;
    top:-70px;
    left: 270px;
  }
  .leftLine{
    width: 20px;
    height: 2px;
    background-color: black;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); 
    position: absolute;
    bottom: 9px;
    
  }
  .rightLine{
    width: 20px;
    height: 2px;
    background-color: black;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    bottom: 9px;
  }

  @media only screen and (max-width: 600px) {
   
    .inputForm{
      padding-left: 35px;
    }
    }
  @media only screen and (max-width:1100px){
    .list{
      padding-left: 0em;
  }
  }


  @keyframes color-change {
    0% {background: white;}
    50% {background: rgb(204, 48, 157);}
    100% {background: white;}
}
